@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/watch/bg_morning.jpg);
  overflow: hidden;
}
main.dark article p,
main.dark article em,
main.dark figure .screen em,
main.dark figure .screen span {
  color: #555;
}
main.morning {
  background-image: url(../img/watch/bg_morning.jpg);
}
main.morning figure {
  background-image: url(../img/watch/phone_morning.png);
}
main.afternoon {
  background-image: url(../img/watch/bg_afternoon.jpg);
}
main.afternoon figure {
  background-image: url(../img/watch/phone_afternoon.png);
}
main.evening {
  background-image: url(../img/watch/bg_evening.jpg);
}
main.evening figure {
  background-image: url(../img/watch/phone_evening.png);
}
main.night {
  background-image: url(../img/watch/bg_night.jpg);
}
main.night figure {
  background-image: url(../img/watch/phone_night.png);
}
main .cloud1 {
  position: absolute;
  top: -100px;
  left: 0;
  opacity: 0;
  animation: move 20s linear 15s infinite;
}
main .cloud2 {
  position: absolute;
  top: -50px;
  left: 0;
  opacity: 0;
  animation: move 20s linear 0s infinite;
}
@keyframes move {
  0% {
    opacity: 0;
    left: -50%;
  }
  50% {
    opacity: 0.5;
  }
  95% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    left: 80%;
  }
}
main article {
  width: 35vw;
  position: absolute;
  top: 40vh;
  left: 5vw;
}
main article p {
  font: 4vw/1 "orbitron";
  color: #fff;
  margin-bottom: 20px;
}
main article p strong {
  opacity: 0.7;
}
main article em {
  font: bold 14px/1.2 "arial";
  color: #fff;
  letter-spacing: 2px;
}
main figure {
  width: 1200px;
  height: 800px;
  position: absolute;
  right: -10vw;
  top: 50%;
  margin-top: -200px;
  background-image: url(../img/watch/phone_morning.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
}
main figure .screen {
  width: 534px;
  height: 301px;
  position: absolute;
  top: 98px;
  left: 132px;
  font: 60px/301px "orbitron";
  color: #fff;
  text-align: center;
  overflow: hidden;
}
main figure .screen .cloud1 {
  width: 600px;
  position: absolute;
  top: 30px;
  left: 0;
  opacity: 0;
  animation: move 20s linear 15s infinite;
}
main figure .screen .cloud2 {
  width: 700px;
  position: absolute;
  top: 20px;
  left: 0;
  opacity: 0;
  animation: move 20s linear 0s infinite;
}
main figure .screen em {
  position: absolute;
  top: 90px;
  left: 80px;
  font: 20px/1 "orbitron";
  color: #fff;
  opacity: 0;
}
main figure .screen em.on {
  opacity: 0.8;
}
main figure .screen span {
  display: inline-block;
  width: 100px;
}

@media screen and (max-width: 1600px) {
  main figure {
    transform-origin: right center;
    transform: scale(0.8);
    margin-top: -250px;
  }
}
@media screen and (max-width: 1400px) {
  main article {
    width: 25vw;
  }
  main article p {
    font-size: 6vw;
  }
}
@media screen and (max-width: 1200px) {
  main article {
    width: 100%;
    top: 10vh;
    left: 0;
    padding: 10vw;
  }
  main figure {
    margin-top: -200px;
    transform: scale(0.7);
  }
}
@media screen and (max-width: 800px) {
  main article {
    top: 0vh;
    padding: 10vw;
  }
  main figure {
    margin-top: -200px;
    transform: scale(0.6);
    right: -20vw;
  }
}

/*# sourceMappingURL=watch.css.map */
