* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 5000px;
}

#wrap {
	width: 1000px;
	height: 600px;
	border: 1px solid red;
	position: relative;
}

#box {
	width: 100px;
	height: 100px;
	background: aquamarine;
	position: absolute;
	top: 0;
	left: 0;
}
